@charset "UTF-8";
@font-face {
    font-family: 'idroid';
    src: url('fontes/idroid.otf') format('opentype');
}

body {
    background-color: #41D992;
    text-align: justify;
}
header {
    background-image: linear-gradient(to bottom, #41D992 1px, #1a6336 160px);
    text-align: center;
    padding: 7px;
    color: white;

}

header > nav {
    text-align: left;
}

header > p {
    text-align: center;

}
p#p2 {
    padding-bottom: 1px;
    margin-bottom: -10px;
    margin-top: 30px;
}
nav > a {
    margin-left: 15px;
    text-decoration: none;
    color: white;
}
a:hover {
    text-decoration: underline;
    
}
main {
    background-color: White;
    width: 850px;
    margin: auto;
    border-radius: 0px 0px 10px 10px;
    box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.473);
}
main > section {
    margin-right: 20px;
    margin-left: 20px;
}
h2 {
    font-family: idroid, Helvetica, sans-serif;
    margin-top: 1px;
    padding-top: 25px;
    color: #248055;
}
h3 {
    font-family: idroid, Helvetica, sans-serif;
    color: #248055;
    background-image: linear-gradient(to right, #41d9923d, white);
}
p {
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
    text-indent: 40px;
}
section#tabela {
    background-color: #6ad8a571;
    margin-bottom: 20px;
    border-radius: 10px;
}
section#tabela > p {
    margin: 20px;
}
p#p3 {
    padding-bottom: 25px;
}
h4 {
    background-color: #2e9c58;
    color: white;
    padding: 10px;
    border-radius: 10px 10px 0px 0px;
}
p#p4 {
    margin: 20px;
    padding-bottom: 35px;
}
footer {

}
footer > p {
    text-align: center;
    background-color: #1a6336;
    color: white;
    margin-bottom: 0px;
    padding: 10px;
  
}
section#video {
    background-color: #1a6336;
    padding: 20px 0px 20px 45px;
    margin: auto;
}
picture#pi2 {
    margin-left: 240px;
}